<body>
    <div class="jumbotron text-center">
        <h1>Törj ki az unalomból</h1>
        <p>
            <mark>Üdvözöljük a FutureEscape weboldalán! Találja meg a legizgalmasabb szabadulószobáink
                egyikét, és foglalja le a helyét!
            </mark>
        </p>
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/escape-room-1.png" class="d-block mx-auto" style="width: 900px; height: auto;"
                    alt="szabaduloszoba-kep-1">
            </div>
            <div class="carousel-item">
                <img src="assets/escape-room-2.png" class="d-block mx-auto" style="width: 900px; height: auto;"
                    alt="szabaduloszoba-kep-2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Előző</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Következő</span>
        </button>
    </div>

    <br><br><br>
    <div class="mt-4 text-center">
        <h2><mark>Miért jó kipróbálni egy szabadulószobát?</mark></h2>
        <p>A szabadulószobák izgalmas és kihívásokkal teli élményt nyújtanak, amelyek tökéletesek baráti társaságoknak,
            családoknak vagy akár munkatársaknak is.
        </p>
        <br>
        <h2><mark>Miért érdemes belevágni a szabadulószobák világába?</mark></h2>
        <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Csapatmunka fejlesztése</div>
                    A szabadulószobák remek lehetőséget kínálnak a csapatmunka és a kommunikáció fejlesztésére. A
                    feladatok megoldása során kollégáidnak össze kell fogniuk és együttműködniük, hogy sikeresen
                    elhagyják a szobát. Azonban ehhez az is szükséges, hogy a csapatoddal együtt minden egyes nyomra
                    odafigyeljetek, mert ezek közelebb juttatnak a kijutáshoz. Minden egyes tárgy vagy nem
                    rendeltetésszerű dolog nyom lehet.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Izgalom és adrenalinvágy</div>
                    A szabadulószobák tele vannak váratlan fordulatokkal és rejtélyekkel, amelyek izgalmassá és
                    adrenalindúsá teszik az élményt. A szoros időkeret és a rejtélyek megoldásának nyomása tovább
                    fokozza az izgalmat. A legtöbb szoba 1 órás korláttal rendelkezik, ami azt jelenti, hogy összesen
                    egy órátok van arra, hogy minden szükséges nyomot megtaláljatok. Azonban bizonyos szobák esetében az
                    időkorlát kevesebb is lehet, mint 1 óra.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Problémamegoldó készségek fejlesztése</div>
                    A szabadulószobákban található feladványok és rejtvények segítik a problémamegoldó készségek
                    fejlesztését. Kreativitásra és gyors gondolkodásra is szükség van a sikeres szabaduláshoz, ugyanis a
                    szobákból való kijutás olykor nem is olyan egyszerű, tehát fontos a logikus gondolkodás. Az
                    élményeket pedig tovább fokozza az, ha nem adjátok fel a játékot. De persze ez is lehetséges, ha nem
                    sikerülne kijutni.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Kikapcsolódás és szórakozás</div>
                    A szabadulószobák szórakoztató kihívást nyújtanak, és ideálisak a stressz levezetésére és a
                    szórakozásra. Együttműködés közben garantált a jó hangulat és a nevetés. Azonban a csapatmunka
                    valóban fontos ahhoz, hogy az élmény maximális legyen. Emiatt a játékokban minimum 2 fő vehet részt,
                    hiszen egyedül valószínűleg nem is lehetne kijutni a szobákból. Továbbá maximum 16 személy játszhat
                    egyszerre az erre alkalmas szobákban.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Emlékezetes élmények</div>
                    A szabadulószobában eltöltött idő maradandó élményeket nyújt. A sikeres szabadulás vagy éppen a
                    kihívásokkal teli küzdelem olyan élményeket teremt, amelyekről hosszú időn keresztül
                    beszélgethettek. Megannyi szabadulószoba áll rendelkezésre, és ezek mindegyikét kipróbálhatjátok,
                    mellyel megannyi élményt is gyűjtötök. A szobák száma folyamatosan bővül, hogy mindig legyen ok a
                    visszatérésre.
                </div>
            </li>
        </ol>
        <br><br>
        <h2>"Ha keresed a kalandot, a csapatépítést és egy emlékezetes élményt,<br>próbáld ki szabadulószobáink
            valamelyikét!"
        </h2>
    </div>

    <div class="footer">
        <p>&copy; 2024 FutureEscape Zrt. | Minden jog fenntartva</p>
    </div>
</body>